html, body{
    margin: 0;
    padding: 0;
}

.ul-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    height: fit-content;
}

.ul-nav > li{
    margin: 0 5px;
}

.ul-nav > li > a > img{
    width: 25px;
    height: 25px;
}

.yo{
    margin-top: 15%;
    margin-left: 15px;
    width: 10%;
}

.main-container{
    padding: 0px !important;
}